.sobre-nosotros {
  padding: 55px 0 60px 0;
  margin: auto;
  color: #fff;
  width: 75%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 768px) {
  .contenedor-sobre-nosotros {
    flex-direction: column;
  }

  .contenido-textos p {
    width: auto;
  }
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  background: #ffffff18;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 15px;
  align-items: center;
}

.imagen-about-us {
  width: 48%;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h4 {
  margin-bottom: 15px;
  text-align: center;
  padding-top: 10px;
}

.contenido-textos span {
  background: #0015ff;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  margin-right: 5px;
  font-size: 20px;
  font-weight: 500;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

.imagen-about-us {
  width: 25%;
  height: 25%;
  border-radius: 10px;
}

footer {
  background: #161616;
  color: #bdbdbd;
  height: auto;
  justify-content: space-around;
  display: flex;
}

footer .contenedor {
  display: flex;
  max-width: 1050px;
  justify-content: space-between;
  align-items: center;
}

footer .copy {
  font-size: 14px;
  font-family: "Rubik";
}

footer .redes li {
  display: inline-block;
  margin: 0 10px;
}

footer .redes i {
  font-size: 25px;
  padding: 10px;
}
